.container {
  width: 100%;
  height: 100%;

}
.box {
  width: 70%;
  height: 100%;

  margin: 0 auto;
  stroke: black;
  fill: blue;
  display: flex;
  justify-content:center;
  align-items: center;
 
}

.svg {
  
  width: 90%;
  height: 100%;
  
}

/////////////////////////////////////////////////////////////
///
///
///
///
///
