.box {
  width: 100%;
  height: 7rem;
  border-bottom: 1px solid black;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  padding-right: 2rem;
  ion-icon{
    font-size: 2rem;
  }
}
.boxLeft{
    width: 30%;
    height: 100%;
    display: flex;
  justify-content: flex-start;
  align-items: center;
  p{
    text-align: left;
    font-size: 4rem;
  }
  ion-icon{
    font-size: 2rem;
    font-weight: bolder;
  }
  span{
    font-size: 1.5rem;
    text-transform: capitalize;
}
 
}
.sample{
    width: 4rem;
    height: 2.5rem;
    background-color:green;
    margin-right: 2rem;
    border-radius: .4rem;
}

.icon{
  
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active{opacity: 0;}