@import "../src/index.scss";

.navigation {
  position: fixed !important;

  top: 0px;
  top: 150px;
  top: 140px;
  top: 158px;
  top: 14rem;
  top: 15.9vh;
  top:14vh;
  width: 300px;
  width: 70px;

  // height: 85rem !important;
  height: 78.5vh;
  height: calc(84vh - 10vh) !important;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 20px;
  border-bottom-right-radius: 1rem;
  box-sizing: initial;

  border-left: 5px solid #13a04c;
  border-left: 5px solid #e2e2e6;

  background-color: #4d5bf9;
  background: #13a04c;

  background-color: #e2e2e6;
  transition: width 0.2s linear;
  overflow:hidden;
  &.darkmode {
    background: #333538 !important;
    border-color: #333538 !important;
    overflow: hidden !important;
  }

  
}

.ul {
  width: 100%;
  padding-left: 5px;

  z-index: -1;
}

.li {
  &.darkmode {
    background-color: #1a1c1e !important;
    background: #333538 !important;
    color: white;
    z-index: 99999999999999999999 !important;
  }
}

.a {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: #fff;
}

.icon {
  position: relative;

  display: block;
  height: 60px;

  min-width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.icon ion-icon {
  font-size: 2.5rem;
  color: black;
  .darkmode {
    color: white;
  }
}

.darkmode {
  ion-icon {
    color: white !important;
  }
}
.title {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  display: block;
  line-height: 60px;

  height: 60px;

  color: black;
  white-space: normal;
  text-transform: capitalize;
  font-size: 1.7rem;
  overflow: hidden !important;

  margin-right: 2.1rem;
  &.darkmode {
    color: white !important;
  }
}

.activeNav {
  width: 300px;
  width: 200px;

  transition: width 0.2s linear;
}

//  Burger menu

// --------------------------------------------

.burger {
  font-size: 4rem;

  min-width: 100%;

  width: 100%;
  height: 5.8rem;

  position: relative;

  transition: transform 0.2s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: translateX(0px);
  overflow: hidden !important;
  font-weight: bolder;
  background-color: transparent !important;

  &.darkmode {
    background: #333538 !important;
    border-bottom-right-radius: 20px;
  }
}
.burger ion-icon {
  font-size: 4rem;
  margin-right: 1rem;
  border-bottom-right-radius: 20px;
}
.activeBurger {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(70px);
  transform: translateX(7rem);

  transition: transform 0.2s linear;

  border-bottom-right-radius: 20px;
  @include respond(i-pad) {
    transform: translateX(9rem);
  }
}

//        Slider  &   Border top right bottom right of slider
// ---------------------------------------------------------------------------------

.slide {
  width: 100%;
  position: absolute;

  left: 0;
  background-color: white;

  border-radius: 200px 10px 10px 200px;
  -moz-border-radius: 200px 10px 10px 200px;
  -webkit-border-radius: 200px 10px 10px 200px;
  border: 0px none #000000;

  transition: transform 0.3s linear;
  &.darkmode {
    background-color: #1a1c1e !important;
    background-color: #1a1c1e !important ;

    color: white !important;
  }
}

.b:nth-child(1) {
  position: absolute;
  top: -20px;
  top: -15px;
  height: 20px;

  width: 100%;
  background-color: white;

  &.darkmode {
    background-color: #1a1c1e !important;
    color: white !important;
    z-index: 999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999 !important;
  }
}

.b:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  border-bottom-right-radius: 20px;

  background-color: #e2e2e6;
}

.b:nth-child(2) {
  position: absolute;
  bottom: -20px;
  bottom: -15px;
  height: 20px;
  width: 100%;
  background-color: white;

  &.darkmode {
    background-color: #1a1c1e !important;
    color: white !important;
  }
}

.b:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top-right-radius: 20px;

  background-color: #13a04c;
  background-color: #e2e2e6;

  overflow: hidden;
  &.darkmode {
    background-color: #333538 !important;

    color: white !important;
    overflow: hidden;
  }
}

.b.darkmode::before {
  background-color: #333538 !important;
}

.b.darkmode::after {
  background-color: #333538 !important;
}
