// Base Colors
$shade-10: #2c3e50 !default;
$shade-1: #d7dcdf !default;

$shade-0: #fff !default;

$teal: #1abc9c !default;


// Reset
* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

body {
  font-family: sans-serif;
  // padding: 60px 20px;
  
  @media (min-width: 600px) {
    // padding: 60px;
  }
}

.rangeslider {
  // margin: 60px 0 0 0;
  // background-color: #d7dcdf !important;
  
}


// Range Slider
$range-width: 100% !default;

$range-handle-color: $shade-10 !default;
$range-handle-color-hover: $teal !default;
$range-handle-size: 20px !default;


$range-track-color: $shade-1 !default;
$range-track-height: 10px !default;

$range-label-color: $shade-10 !default;
$range-label-width: 60px !default;


.container{
    // background-color: palevioletred;
    grid-column: 4/span 6;
    grid-row: 9/span 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:black;
    text-transform: capitalize;
    font-size: 2.5rem;
    p{
        align-self: flex-start;
    }
}

.rangeslider {
  position: relative;
  width: $range-width;
  width: 100% !important;

  height: 100%;
  //  background-color: white;
  // background-color: yellow;

  display: flex;
  justify-content: center;
  align-items: center;


}

.rangesliderrange {
  position: relative;
  -webkit-appearance: none !important;
  width: calc(100% - (#{$range-label-width + 13px}));
  width:100%;
  height: $range-track-height;

  border-radius: 5px;
  background: $range-track-color;
   background-color: rgb(202, 191, 191) !important;
  outline: none;
  padding: 0;
  margin: 0;

  // Range Handle

  &::-webkit-slider-runnable-track {
    position: relative;
    width: 100%;
    background-color: #e0e4e3;
    border-radius: 1rem;
    
  }
 

  &::-webkit-slider-thumb {
    appearance: none !important;
    width: $range-handle-size;
    height: $range-handle-size;
    border-radius: 50%;
    background: $range-handle-color;
    box-shadow: 0 0 0 3px white,
    0 0 0 6px #204A7F;
   position: relative;
    cursor: pointer;
    transition: background .15s ease-in-out;
    z-index: 4 !important;
    &:hover {
      background: $range-handle-color-hover;
    }
  }

  &:active::-webkit-slider-thumb {
    background: $range-handle-color-hover;
  
  }

  &::-moz-range-thumb {
    width: $range-handle-size;
    height: $range-handle-size;
    border: 0;
    border-radius: 50%;
    background: $range-handle-color;
    cursor: pointer;
    transition: background .15s ease-in-out;
   
    &:hover {
      background: $range-handle-color-hover;
    }
  }

  &:active::-moz-range-thumb {
    background: $range-handle-color-hover;
    // background: red !important;
  }
  
  // Focus state
  &:focus {
    transition:all .4s linear !important;
    &::-webkit-slider-thumb {
      box-shadow: 0 0 0 3px $shade-0,
                  0 0 0 6px $teal,
                  0 0 0 8px skyblue,
                  // 0 0 0 10px $teal
    }


  }
}


// Range Label
.rangeslidervalue {

  display: inline-block;
  position: relative;
  width: $range-label-width;
  color: $shade-0;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: $range-label-color;

  padding: 5px 10px;
  margin-left: 8px;

  &:after {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid $range-label-color;
    border-bottom: 7px solid transparent;

    content: '';
  }
}


// Firefox Overrides
::-moz-range-track {
    background: $range-track-color;
    border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer { 
  border: 0; 
}


.zee{
  position: absolute;
  left: 0;
  width:0;
  height:20px;
 
  background-color:skyblue !important;
  border-radius: 5px;
   z-index: 1;
}